<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>게시판</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>게시글 목록</h1>
<table>
  <thead>
  <tr>
    <th>번호</th>
    <th>제목</th>
    <th>작성일</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="post : ${posts}">
    <td th:text="${post.id}"></td>
    <td th:text="${post.title}"></td>
    <td th:text="${post.createAt}"></td>
  </tr>
  </tbody>
</table>
<a th:href="@{/posts/new}">새 글 작성</a>
</body>
</html>