<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>스프링부트 타임리프 홈페이지 테스트</h1>
<div th:object="${user}">
  <p>이름 : <span th:text="*{username}"> </span></p>
  <p>이메일 : <span th:text="*{email}"></span></p>
  <p th:unless="${user.admin}">이 사람은 관리자 권한이 있습니다.</p>

  <p th:if="${user.person}">이 사람은 관리자 권한이 있습니다.:if</p>
  <p th:unless="${user.person}">이 사람은 관리자 권한이 있습니다.:unless</p>
</div>
<ul th:each="item :${iterData}">
  <li th:text="${item}"></li>
</ul>
<!--/* 이 주석은 Thymeleaf에서 처리되지 않습니다. */-->
<a th:href="@{/index/2}">인덱스 2 페이지로 가기</a>
<a th:href="@{/index/3}">인덱스 3 페이지로 가기</a>

<form th:action="@{/users}" method="post">
  <input type="text" name="name">
  <input type="email" name="email">
  <button type="submit">저장</button>
</form>

</body>
</html>